header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--background-gray-light);

  .wrapper {
    max-width: unset;
    padding: 20px 40px;
  }

  .header {
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-logo {
      svg {
        path {
          fill: var(--content-primary);
        }
      }
    }

    &-search {
      padding: 8px;
    }
  }
}
