.join {
  padding: 50px 0;
  background-color: var(--background-gray-light);

  p {
    font-size: 16px;
    font-weight: 400;
    color: var(--content-secondary);
    margin-top: 10px;
    margin-bottom: 20px;
  }

  button {
    font-size: 16px;
    font-weight: 700;
    color: var(--content-brand);
    padding: 4px 0;
    cursor: pointer;
    transition: color 0s ease-in-out;

    &:hover {
      color: var(--content-brand-hover);
    }
  }
}
