@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --content-primary: #090909;
  --content-secondary: #4f4f4f;

  --border-low-contrast: #e6e6e6;
}

/* Dark theme */
[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;

  --content-primary: #ffffff;
  --content-secondary: #c8c8c8;

  --border-low-contrast: #4f4f4f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  transition: background 0s ease-in-out, color 0s ease-in-out;
}