@import "tailwindcss";

:root {
  --background-black: #ffffff;
  --background-gray-light: #f7f7f7;

  --content-primary: #090909;
  --content-secondary: #4f4f4f;
  --content-brand: #032541;
  --content-brand-hover: #054274;

  --border-low-contrast: #e6e6e6;

  --surface-inverse: #ffffff;
}

/* Dark theme */
[data-theme="dark"] {
  --background-black: #032541;
  --background-gray-light: #090909;

  --content-primary: #ffffff;
  --content-secondary: #c8c8c8;
  --content-brand: #ffffff;
  --content-brand-hover: #919191;

  --border-low-contrast: #4f4f4f;

  --surface-inverse: #090909;
}

body {
  background: var(--background-black);
  color: var(--content-primary);
  font-family: "Montserrat", sans-serif;
  transition: background 0s ease-in-out, color 0s ease-in-out;
}
